* {
  margin: 0;
  padding: 0;
}


/* HEADER */

header {
  /*background: url("../image/imagen3.jpg");*/
  /*background: url("../image/imagen2.jpg");*/
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#myVideo {
  backface-visibility:hidden;
  background:url("http://www.markhillard.com/sandbox/media/polina.jpg") no-repeat scroll 0 0 #000;
  background-size:cover;
  bottom:0;
  height:auto;
  min-height:100%;
  min-width:100%;
  perspective:1000;
  position:fixed;
  right:0;
  width:auto;
  z-index:-1;
  opacity: 0.4;
}

header > h1 {
  padding: 9rem;
  padding-top: 4.5rem;
  font: 5rem "Arial";
  text-align: center;
  color: black;
}


/* SECCTIONS */

/* SECTION 1 TEXT */
.sec-1 {
  background-color: rgb(234, 240, 248);
  font: 1rem "Arial";
  text-align: center;
  color: black;

}

.sec-1>h2 {
  text-align: center;
  padding-top: 2rem;
}

.sec-1>p {
  text-align: justify;
  padding: 2rem;
  padding-bottom: 4rem;
  max-width: 90%;
}


/* SEPARATOR */
.separator{
  background-color: rgba(160, 186, 235, 0.7);
}
.separator>img {
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-width: 50px;
  position: relative;
  top:-25px;
}

/* SECTION 2 TEXT */
.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  background-color: #EAF0F8;
}

.text2 {
  border-left: 5px solid #EAF0F8 ;
}

.sec-2 > h1{
  font: 4rem "Arial";
  text-align: center;
  color: black;
  background-color: #EAF0F8;
}

.text2-up > p:nth-child(2),
.text2-down > p:nth-child(2){
  padding-bottom: 2rem;
}

.text1, .text2 {
  max-width: 90%;
  text-align: justify;
  padding:1rem;
}

.text1 >h2,
.text2 > .text2-up > h2,
.text2 > .text2-down > h2{
  text-align: center;
  margin-bottom: 1rem;
 
}

/* SEPARATOR2  BALL */
.text2 > .text2-down > img {
  max-width: 200px;
  float: right;
  shape-outside: url("../image/iconfinder_Ball_2138269.png");
  shape-image-threshold: 0;
  shape-margin: 5px;
  margin: 17px;
}


/* BOX GALLERY */

.sec-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: url("../image/imagen3.jpg");
  background-size: cover;

}


.box-text {
  height: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.box-text h3 {
  color: aqua;
}

.sec-3>.box-text {
  margin: 0;
  color: white;
}

.sec-3 .box-text:nth-of-type(1) {
  background: black;
}

.sec-3 .box-text:nth-of-type(3) {
  background: black;
}

.sec-3 .box-text:nth-of-type(6) {
  background: black;
}

.sec-3 .box-text:nth-of-type(8) {
  background: rgba(250, 246, 246, 0.6);
}


/* TEXT ALIGN CENTER AND VERTICAL */

.sec-4 {
  background-color: #EAF0F8;
  border: 2px solid black;
}

.sec-4 h2 {
  padding: 10rem;
  vertical-align: middle;
  text-align: center;
}


/* Text Divider Section */
.text-divider {
  line-height: 0;
  text-align: center;
}

.text-divider::after {
  content: " ";
  display: block;
  line-height: 0;
  text-align: center;

}
.text-divider span {
  background-color: white;
  padding: 1em 1em 1em 1em;
  border-radius: 15px;
}


/* ul list   */
.sec-5 {
  background-color: rgb(129, 193, 236);
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center
}
.sec-5>h1 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2rem;
}

/* .list {
  min-width: 100%;
  margin-left: calc( 100% - 3rem);
} */

ul> :first-child {
  color: red;
}

ul> :last-child {
  color: yellow;
}


/* FOOTER   */
footer {
  background-image: linear-gradient(#ff9d2f, #ff6126);
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  height: auto;
}

.footer-grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1em 1em 1em 0 ;
  grid-auto-rows: minmax(30rem, auto);
}

.footer-grid>p {
  border-left: 2px solid #000;
  padding: 1em;
}
.footer-grid>p:first-child {
  border-left: 0px;
}

footer h1 {
  margin: 0;
  padding: 100px 0;
  font: 44px "Arial";
  text-align: center;
}